*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Segoe UI";
}

body{
  height:100vh;
  overflow:hidden;
  position:relative;
}

/* BG */

.bg{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:-2;
}

.slide{
  position:absolute;
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center;
  opacity:0;
  transition:1s;
}

.slide.active{
  opacity:1;
}

/* OVERLAY */

.overlay{
  position:fixed;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.55);
  top:0;
  left:0;
  z-index:-1;
}

/* BOX */

.box{
  width:370px;
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(12px);
  border:1px solid rgba(255,255,255,0.15);
  padding:35px;
  border-radius:20px;
  color:white;

  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);

  box-shadow:0 0 30px rgba(0,0,0,0.5);
}

/* LOGO */

.logo{
  text-align:center;
  font-size:38px;
  font-weight:bold;
}

.logo span{
  color:#00bfff;
}

/* SUB */

.sub{
  text-align:center;
  margin-top:8px;
  margin-bottom:25px;
  color:#ddd;
}

/* INPUT */

.input-group{
  position:relative;
  margin-bottom:18px;
}

.input-group input{
  width:100%;
  padding:14px 45px 14px 15px;
  border:none;
  outline:none;
  border-radius:12px;
  background:rgba(255,255,255,0.12);
  color:white;
  font-size:15px;
}

.input-group input::placeholder{
  color:#ddd;
}

.right-icon{
  position:absolute;
  right:15px;
  top:50%;
  transform:translateY(-50%);
  color:#ddd;
}

/* BUTTON */

.btn{
  width:100%;
  padding:13px;
  border:none;
  border-radius:12px;
  color:white;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

.btn-reg{
  background:#00bfff;
  margin-top:5px;
}

.btn-reg:hover{
  background:#0099cc;
}

.btn-login{
  margin-top:12px;
  background:#222;
}

.btn-login:hover{
  background:#333;
}

/* ERROR */

.error{
  background:#ff4d4d;
  padding:10px;
  border-radius:10px;
  margin-bottom:15px;
  display:none;
  font-size:14px;
}

/* SUCCESS */

.success{
  background:#1db954;
  padding:10px;
  border-radius:10px;
  margin-bottom:15px;
  display:none;
  font-size:14px;
}