body{
  margin:0;
  font-family:Segoe UI;
  background:linear-gradient(135deg,#0b0b0b,#111);
  color:white;
}

.container{
  display:flex;
  height:100vh;
}

/* SIDEBAR */
.sidebar{
  width:300px;
  background:#121212;
  border-right:1px solid #222;
  overflow-y:auto;
}

.user{
  display:flex;
  align-items:center;
  gap:10px;
  padding:12px;
  cursor:pointer;
}
.user:hover{background:#1f1f1f;}

.avatar{
  width:40px;
  height:40px;
  border-radius:50%;
  background:linear-gradient(45deg,#ff2d55,#ff7a18);
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:bold;
}

/* CHAT */
.chat{
  flex:1;
  display:flex;
  flex-direction:column;
}

.header{
  padding:12px;
  background:#111;
  border-bottom:1px solid #222;
  display:flex;
  justify-content:space-between;
}

.messages{
  flex:1;
  padding:20px;
  overflow-y:auto;
  display:flex;
  flex-direction:column;
  gap:10px;
}

/* MESSAGE */
.msg{
  padding:10px 14px;
  border-radius:18px;
  max-width:60%;
}

.me{
  background:#ff2d55;
  margin-left:auto;
}

.you{
  background:#2a2a2a;
}

/* INPUT */
.input-box{
  display:flex;
  padding:12px;
  background:#111;
  border-top:1px solid #222;
}

.input-box input{
  flex:1;
  padding:10px;
  border:none;
  border-radius:10px;
  background:#1f1f1f;
  color:white;
}

.input-box button{
  margin-left:8px;
  padding:10px 14px;
  border:none;
  border-radius:10px;
  background:#ff2d55;
  color:white;
  cursor:pointer;
}