/* account.css */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#0a0a0a;
font-family:Segoe UI;
color:white;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
padding:20px;
}

.box{
width:100%;
max-width:420px;
background:#141414;
padding:25px;
border-radius:30px;
box-shadow:0 0 25px rgba(0,0,0,.5);
}

h1{
text-align:center;
margin-bottom:25px;
color:#ff2d55;
}

.item{
background:#1f1f1f;
padding:18px;
border-radius:16px;
margin-top:15px;
display:flex;
align-items:center;
gap:15px;
transition:.3s;
cursor:pointer;
}

.item:hover{
background:#2a2a2a;
transform:translateY(-2px);
}

.item i{
color:#ff2d55;
font-size:18px;
}

button{
width:100%;
margin-top:25px;
padding:15px;
border:none;
border-radius:18px;
background:#ff2d55;
color:white;
font-size:16px;
cursor:pointer;
}