/* theme.css */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:linear-gradient(180deg,#0f0f0f,#1b1b1b);
font-family:"Segoe UI";
color:white;
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
}

.container{
width:100%;
max-width:430px;
}

.top{
text-align:center;
margin-bottom:25px;
}

.theme-icon{
width:90px;
height:90px;
margin:auto;
border-radius:50%;
background:linear-gradient(45deg,#ffd43b,#ff922b);
display:flex;
justify-content:center;
align-items:center;
font-size:38px;
color:black;
box-shadow:0 0 25px rgba(255,212,59,.4);
margin-bottom:18px;
}

.top h1{
font-size:31px;
margin-bottom:8px;
}

.top p{
color:#aaa;
font-size:15px;
}

.card{
background:#181818;
padding:20px;
border-radius:28px;
box-shadow:0 0 25px rgba(0,0,0,.5);
}

.item{
background:#232323;
padding:18px;
border-radius:20px;
display:flex;
justify-content:space-between;
align-items:center;
margin-top:15px;
transition:.3s;
cursor:pointer;
}

.item:hover{
transform:translateY(-3px);
background:#2d2d2d;
}

.left{
display:flex;
align-items:center;
gap:15px;
}

.left i{
width:48px;
height:48px;
border-radius:15px;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(45deg,#ffd43b,#ff922b);
color:black;
font-size:20px;
}

.left h3{
font-size:17px;
margin-bottom:4px;
}

.left span{
font-size:13px;
color:#aaa;
}

.check{
color:#00ff88;
font-size:22px;
}

.colors{
display:flex;
justify-content:center;
gap:15px;
margin-top:25px;
}

.color{
width:45px;
height:45px;
border-radius:50%;
cursor:pointer;
transition:.3s;
}

.color:hover{
transform:scale(1.1);
}

.pink{
background:linear-gradient(45deg,#ff2d55,#ff7a18);
}

.blue{
background:linear-gradient(45deg,#00c6ff,#0072ff);
}

.green{
background:linear-gradient(45deg,#00ff88,#00b894);
}

.purple{
background:linear-gradient(45deg,#a855f7,#7e22ce);
}

button{
width:100%;
margin-top:25px;
padding:16px;
border:none;
border-radius:22px;
background:linear-gradient(45deg,#ffd43b,#ff922b);
color:black;
font-size:17px;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.03);
box-shadow:0 0 20px rgba(255,212,59,.4);
}